<div *ngIf="book$ | async as book">
  <mat-card fxLayout="column" fxLayoutAlign="space-around center">
    <button mat-raised-button (click)="addToCart(book)">
      <mat-icon>add_shopping_cart</mat-icon>
      Add to cart
    </button>
    <img [src]="book.imageUrl" alt="book cover" fxFlex="10"/>
    <h2 fxFlex="10">{{book.title}}</h2>
    <h3 fxFlex="10">{{book.author}}</h3>
    <h4 fxFlex="10">{{book.price | currency:'EUR'}}</h4>
    <p fxFlex="50">{{book.description}}</p>
  </mat-card>
</div>
<mat-spinner *ngIf="bookService.isLoading"></mat-spinner>
