table {
  width: 100%;
  margin-top: 20px;

  .row:hover {
    cursor: pointer;
    background-color: #c0ceff;
  }

  mat-icon {
    vertical-align: middle;
  }
}

h2 {
  text-align: center;
}

button {
  width: 20%;
}


